mat-toolbar {
  margin-bottom: 50px;
}

mat-toolbar > span {
  margin-left: 10px;
}

.bucket-wrapper {
  margin-bottom: 50px;
  margin-left: 10px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.help-github-link {
   color: white;
}
