.bucket {
  border: 3px solid black;
  background-color: white;
  border-top-width: 0;
}

.ball {
  margin: 0 2px 0 2px;
  border-radius: 50%;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

div.blue .mat-card .cdk-drag-preview {
  background-color: blue;
}

div.red .mat-card {
  background-color: #F44336;
}

div.pink .mat-card {
  background-color: #FF4081;
}

div.purple .mat-card {
  background-color: #9C27B0;
}

div.deep-purple .mat-card {
  background-color: #7C4DFF;
}

div.indigo .mat-card {
  background-color: #3F51B5;
}

div.blue .mat-card {
  background-color: #448AFF;
}

div.light-blue .mat-card {
  background-color: #03A9F4;
}

div.cyan .mat-card {
  background-color: #18FFFF;
}

div.teal .mat-card {
  background-color: #009688;
}

div.green .mat-card {
  background-color: #69F0AE;
}

div.light-green .mat-card {
  background-color: #8BC34A;
}

div.lime .mat-card {
  background-color: #EEFF41;
}

div.yellow .mat-card {
  background-color: #FFEB3B;
}

div.amber .mat-card {
  background-color: #FFD740;
}

div.orange .mat-card {
  background-color: #FF9800;
}

div.deep-orange .mat-card {
  background-color: #FF5722;
}

div.brown .mat-card {
  background-color: #BCAAA4;
}

div.grey .mat-card {
  background-color: #9E9E9E;
}

div.blue-grey .mat-card {
  background-color: #B0BEC5;
}
